/* center header */

h1 { text-align: center;}

.header {
    background-image: linear-gradient(to right, #80aaff, #19194d);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

/* side search bar */

.search {
    /* position: relative 40px 40px; */
    padding: 0 0 ;
    
}

label {
    font-weight: bold;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
/* results section */

#results {
    position: relative;
    margin-top: 5px;
    margin-left: 100px;
    border-style: solid;
   /* needs to have a thin and black border, to the right of search bar  */
    

}

/* 5 day forecast section */

.forecast {
    position: absolute;
    margin-top: 10 px;
    margin-left: 100px;
}